<% @posts.each do |post| %>
    <i class="icon-thumbs-up"></i> <%= post.votes_for %> | <i class="icon-thumbs-down"></i> <%= post.votes_against %> | <a href="<%= post.link %>" target=_blank><%= post.title %></a>
<% end %>
