Handle: <%= @user_profile.username %><br/>
Posts (Total: <%= @posts.count %>): <br/><br/>
<% if !@posts.blank? %>
  <% for item in @posts %>
    <a href="<%= item.link %>"><%= item.title %></a><br/>
  <% end %>
<% else %>
  
<% end %>